
  <h1>Create a new Recipe</h1>

  <%= form_with model: [@recipe], data: { turbo: false }, local: true do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, required: true %><br>
      <%= f.label :preparation_time %>
      <%= f.number_field :preparation_time, required: true, step: 0.1 %><br>
      <%= f.label :cooking_time %>
      <%= f.number_field :cooking_time, required: true, step: 0.1 %><br>
      <%= f.label :description %>
      <%= f.text_area :description %>
      <%= f.check_box :public %><br>
      <%= f.label :public %>
    <%= f.submit "Create Recipe" %>
    </div>
  <% end %>