<div class="container">
  <div class="recipe-header">
    <h1><%= @recipe.name %></h1>
    <% if current_user == @recipe.user %>
      <div role="group" aria-label="Recipe Visibility">
        <%= button_to recipe_path(@recipe.id), method: :patch, class: "button" do %>
          <% if @recipe.public %>
            Public
          <% else %>
            Private
          <% end %>
        <% end %>
      </div>
    <% end %>

    <p>Preparation time: <%= @recipe.preparation_time %> <%= "hour".pluralize(@recipe.preparation_time) %></p>
    <p>Cooking time: <%= @recipe.cooking_time %> <%= "hour".pluralize(@recipe.cooking_time) %></p>
    <p><%= @recipe.description %></p>
  </div>

  <% if current_user == @recipe.user %>
    <div class="user-actions">
      <%= link_to "Generate Shopping List", shopping_lists_path, class: "button" %>
      <%= link_to "Add Ingredient", new_recipe_recipe_food_path(@recipe.id), class: "button" %>
    </div>
  <% end %>

  <div class="ingredient-table-container">
    <table class="ingredient-table">
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @recipe_foods&.each_with_index do |recipe_food, i| %>
          <tr>
            <td><%= recipe_food.food.name %></td>
            <td><%= recipe_food.quantity %></td>
            <td><%= recipe_food.food.price * recipe_food.quantity %></td>
            <td>
              <%= button_to "Delete", recipe_recipe_food_path(@recipe, recipe_food), method: :delete, class: "button" %>
              <%= link_to "Edit", edit_recipe_recipe_food_path(@recipe, recipe_food), class: "button" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if flash[:success].present? %>
    <p class="flash-message"><%= flash[:success] %></p>
  <% end %>
</div>
