
<%= form_for @food, class: "add-food-form" do |f| %>
  <div class="form-field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "text-input" %>
  </div>

  <div class="form-field">
    <%= f.label :measurement_unit %>
    <%= f.text_field :measurement_unit, class: "text-input" %>
  </div>

  <div class="form-field">
    <%= f.label :price %>
    <%= f.text_field :price, class: "text-input" %>
  </div>

  <div class="form-field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity, class: "text-input" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Create Food", class: "submit-button" %>
  </div>
<% end %>